<div class="card-block">
  <div class="user-image">
    <img class="img-radius" src="/assets/imgs/default-user.png"
      alt="Card image">
  </div>
  <div class="card-body">
    <h4 class="card-title">{{client.lastName}}, {{client.name}}</h4>
    <span class="text-muted">{{client.address}}</span>
    <br />
    <span class="text-muted">{{client.province}} ({{client.city}})</span>
    <br />
    <span class="text-muted small">{{client.phone}}</span>
    <br />
    <span class="text-muted small text-truncate">{{client.email}}</span>
  </div>
</div>